/* 
  font-family: "Nunito", sans-serif;
  font-family: "Inter", sans-serif;
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background-color: #0d0b31;
  color: #fff;
}

.mainGameImg {
  margin: 0;
  display: flex;
}

#detailsOutput img {
  margin: 0;
  width: 100%;
}

.gameinfo,
.additionalInfoContainer {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  text-align: justify;
  background-image: linear-gradient(
    125deg,
    rgba(255, 255, 255, 0.295),
    rgba(255, 255, 255, 0)
  );
  border-top: 5px solid transparent;
  border-image: linear-gradient(0.25turn, #ff8690, #51a3df);
  border-image-slice: 1;
}

.gameinfo h1 {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 0 0.3em 0;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
  color: #ff8690;
  text-align: center;
}

.gameinfo p {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

#screenshotContainer {
  background-color: #0d0b31;
  background-image: url(./images/2151149412.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

#carouselScreens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: none;
}

#carouselScreens img {
  width: 90%;
  margin: 3em auto;
}

.additionalInfoContainer {
  color: #fff;
  background-color: #0d0b31;
  font-family: "Inter", sans-serif;
}

.additionalInfoContainer h2 {
  margin: 0;
  text-align: center;
}

.addInfoDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addInfoDiv h3 {
  margin: 1em 0 0.3em 0;
}

.linkContainer {
  padding: 3em 0;
  display: flex;
  justify-content: center;
}

.pushToGameBtn,
.pushBackBtn {
  text-transform: uppercase;
  color: #fff;
  padding: 10px 40px;
  background-image: linear-gradient(to right, #51a3df, #ff8690);
  border-radius: 66.89px;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

/* Footer */

footer p {
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

@media (min-width: 450px) {
  footer p {
    width: 20%;
  }
}
