*,
*::after,
*::before {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-size: 16.72px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
a {
  font-family: "Inter", sans-serif;
  text-wrap: nowrap;
}

.hide {
  display: none;
}

#info-section {
  position: relative;
}

#scrollToTopBtn {
  position: absolute;
  width: 120px;
  bottom: 7%;
  left: 87%;
  cursor: pointer;
}

@media (min-width: 450px) {
  #scrollToTopBtn {
    position: absolute;
    width: 120px;
    bottom: 7%;
    left: 70%;
    cursor: pointer;
  }
}
